#contact {
    margin-top: 60px;
  }
  
  .heading {
    text-decoration: underline;
    color: #5fa698;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
  }
  
  .contacts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .contacts ul li {
    list-style: none;
    color: #cdd5f2;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .contacts a {
    color: #5fa698;
    text-decoration: none;
  }
  
  .contacts a:hover {
    color: #cdd5f2;
  }
  