.navbar {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto Mono', monospace;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #5fa698;
  }
  