/* Applies to the entire body of the HTML document (except where overridden by more specific selectors). */

.body {
    margin: 25px;
    background-color: #0e192d;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
  }
  
  /* Applies to all <h1>...</h1> elements. */
  h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }
  
  /* Applies to the element with <... id="intro"> specified. */
  #intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 80px 20px;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1.name {
    color: #cdd5f2;
    font-family: 'Roboto Mono', monospace;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  
  h1.build {
    color: #8a92ad;
    font-size: 80px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .intro-text {
    color: #8a92ad;
    font-size: 25px;
    margin-bottom: 100px !important;
  }
  
  .intro-text span {
    color: #5fa698;
  }
  
  .projectbutton {
    border: 2px solid #5fa698;
    border-radius: 10px;
    padding: 30px;
  }
  
  .projectbutton a {
    text-decoration: none;
    color: #5fa698;
  }
  
  .projectbutton h2 {
    margin: 0;
  }
  
  /* footer */
  .footer {
    margin-top: 100px;
  }
  
  #social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #social ul li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #5fa698;
    font-size: 20px;
  }
  
  /* navbar */
  .navbar {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto Mono', monospace;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #5fa698;
  }
  